<%= form_for(@tea_type) do |f| %>
  <% if @tea_type.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@tea_type.errors.count, "error") %> prohibited this tea_type from being saved:</h2>

      <ul>
      <% @tea_type.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :image %><br />
    <%= f.text_field :image %>
  </div>
  <div class="field">
    <%= f.label :repTea %><br />
    <%= f.text_area :repTea %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
