

  
  <!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Teas</title>
<style type="text/css">
body {
    font-family: PTSansRegular;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    line-height: 1;
}

body {
	background-attachment: scroll;
	background-color: #FC9;
	background-image: url(<%= asset_path 'bg1920x1080.png' %>);
	background-repeat: no-repeat;
	background-position: fixed;
}

.header {
	width: 1920px;
	height: 360px;
	/*margin: 0 auto auto 0;*/
}

#title {
  background: url(<%= asset_path @teatype.title %>) no-repeat scroll 0 0;
	/*margin: 0 1000px 1000px 0;*/
	margin: 0px 650px;
	width: 40%;
	height:350px;
}

#login { 
  position:absolute;
	width:197px;
	height:212px;
	z-index:1;
	left: 1274px;
	top: -7px;
    /*margin: 0px 1000px 200px 0px;*/
	/*width: 15%;*/
    /*height: 350px;*/
}

#signup {
  position:absolute;
	width:223px;
	height:239px;
	z-index:2;
	left: 1415px;
	top: -15px;
  
	/*width: 15%;*/
    /*height: 350px;*/
}

#bigoolong {
  position:absolute;
  background: url(<%= asset_path ('big' + @teatype.image) %>) no-repeat scroll 0 0;
	width:454px;
	height:559px;
	z-index:3;
	left: 275px;
	top: -117px;
	
}	

#paperbox {
  position:absolute;
  background: url(<%= asset_path 'paperbox.png' %>) no-repeat scroll 0 0;
	width:784px;
	height:567px;
	z-index:4;
	left: 725px;
	top: -94px;
}	

#like {
  position:absolute;
  background: url(<%= asset_path 'like.png' %>) no-repeat scroll 0 0;
	width:200px;
	height:115px;
	z-index:1;
	left: 506px;
	top: 431px;
}

#credits {
  position:absolute;
  background: url(<%= asset_path 'credits.png' %>) no-repeat scroll 0 0;
	width:252px;
	height:185px;
	z-index:2;
	left: -41px;
	top: 256px;
}

#main {
	position:absolute;
	width:1882px;
	height:425px;
	z-index:3;
	left: 16px;
	top: 366px;
}
#txt{
  position:absolute;
  left:100px;
  top:70px;
  height:455px;
  width:600px;
  z-index:5;
  overflow:auto;
}

</style>
</head>

<body>
<!--<img src="images/background.png" width="4800" height="3600" />-->
<div class="header">
<div id="title">
     </div><!--end title-->
     
<% if signed_in? %>
  <div id="login"><%= link_to image_tag("/assets/logout.png", :border=>0), signout_path, method: "delete"%></div> 
    <!--end login-->
        
  <div id="signup"><%= link_to image_tag("/assets/profile.png", :border=>0), user_path(current_user)%></div> <!--end signup-->

  <%else%>
    <div id="login"><%= link_to image_tag("/assets/logintab.png", :border=>0), signin_path%></div> 

    <!--end login-->
        
    <div id="signup"><%= link_to image_tag("/assets/signuptab.png", :border=>0), new_user_path%></div>  <!--end signup-->
  <%end%>
</div>
<div id="main">

  <div id="credits"></div>
  <div id="bigoolong"></div>
  <div id="paperbox">  <div id = "txt">  
    <table>
      <tr>
        <td><h3> Tea </h3></td>
        <td><h3> Region </h3></td>
      </tr>
          <% @teatype.teas.each do |tea| %>
  <tr>
<h3><td><%= tea.name %></td></h3>
    <td>&nbsp;&nbsp;&nbsp;<%=tea.region%> </td>
    <% if signed_in? %>
    <td><%= link_to image_tag("/assets/likesmall.png"), tea_likes_path(tea, @tea_type), method: :post%></td>
    <td><%= tea.likes.count('user_id', :distinct => true) %> Users like this tea</td>
    <%else%>
    <td><%= tea.likes.count('user_id', :distinct => true) %> Users like this tea</td>
    <td>&nbsp;&nbsp;&nbsp;<%= link_to 'log in', signin_path%> to 'like' this tea </td>
    <%end%>
  	
    
   

 </tr>
<% end %>
</table>



<br />
</div>

  </div>
</div>
</body>
</html>
}	