<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @comment.title %>
</p>

<p>
  <b>Cmt:</b>
  <%= @comment.cmt %>
</p>

<p>
  <b>Tea:</b>
  <%= @comment.tea %>
</p>

<p>
  <b>User:</b>
  <%= @comment.user %>
</p>


<%= link_to 'Edit', edit_comment_path(@comment) %> |
<%= link_to 'Back', comments_path %>
