<h1>Listing teas</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Region</th>
    <th>Likes</th>
    <th>Teatype</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @teas.each do |tea| %>
  <tr>
    <td><%= tea.name %></td>
    <td><%= tea.region %></td>
    <td><%= tea.likes %></td>
    <td><%= tea.teaType %></td>
    <td><%= link_to 'Show', tea %></td>
    <td><%= link_to 'Edit', edit_tea_path(tea) %></td>
    <td><%= link_to 'Destroy', tea, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Tea', new_tea_path %>
