<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Steep - An App for All Things Tea</title>
<link rel="stylesheet" type="text/css" href="profilestyle.css" />
<style type="text/css">
#login {
	position:absolute;
	width:278px;
	height:217px;
	z-index:1;
	left: 1274px;
	top: -6px;
}
#signup {
	position:absolute;
	width:216px;
	height:244px;
	z-index:2;
	left: 1415px;
	top: -14px;
}
#main {
	position:absolute;
	width:1882px;
	height:425px;
	z-index:3;
	left: 16px;
	top: 366px;
}
#credits {
	position:absolute;
	width:252px;
	height:185px;
	z-index:2;
	left: -41px;
	top: 256px;
}
#username {
	position:absolute;
	width:400px;
	height:127px;
	z-index:4;
	left: 221px;
	top: 31px;
}
#profilepic {
	position:absolute;
	width:411px;
	height:417px;
	z-index:5;
	left: 211px;
	top: 166px;
}
#teasliked {
	position:absolute;
	width:511px;
	height:371px;
	z-index:6;
	left: 666px;
	top: 27px;
}
#typesliked {
	position:absolute;
	width:602px;
	height:355px;
	z-index:7;
	left: 664px;
	top: 422px;
}
</style>
</head>

<body>
<div id="teasliked"></div>
<div id="typesliked"></div>
<!--<img src="images/background.png" width="4800" height="3600" />-->
<div class="header">

    

  <div id="login"></div> 
    <!--end login-->
        
  <div id="signup"></div> <!--end signup-->

</div><!--end class header"-->
<div class="container">

</div><!--end class container-->
<div id="username"></div>
<div id="profilepic"></div>
<div id="main">
  <div id="credits"></div>
</div>
</body>
</html>


<h1>Listing users</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th>Image</th>
    <th>Description</th>
    <th>Tea</th>
    <th>Teatype</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @users.each do |user| %>
  <tr>
    <td><%= user.name %></td>
    <td><%= user.email %></td>
    <td><%= user.image %></td>
    <td><%= user.description %></td>
    <td><%= user.tea %></td>
    <td><%= user.teaType %></td>
    <td><%= link_to 'Show', user %></td>
    <td><%= link_to 'Edit', edit_user_path(user) %></td>
    <td><%= link_to 'Destroy', user, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New User', new_user_path %>
