<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Steep - An App for All Things Tea</title>
<link rel="stylesheet" type="text/css" href="/assets/users.css.erb" />
<style type="text/css">
#login {
	position:absolute;
	width:278px;
	height:329px;
	z-index:1;
	left: 1274px;
	top: 16px;
}
#signup {
	position:absolute;
	width:216px;
	height:323px;
	z-index:2;
	left: 1415px;
	top: 8px;
}
#main {
	position:absolute;
	width:1882px;
	height:425px;
	z-index:3;
	left: 16px;
	top: 366px;
}
#teas {
	position:absolute;
	width:1676px;
	height:380px;
	z-index:1;
	left: 120px;
	top: 0px;
}
#black {
	position:absolute;
	width:280px;
	height:337px;
	z-index:1;
	left: 214px;
	top: 0px;
}
#green {
	position:absolute;
	width:280px;
	height:341px;
	z-index:2;
	left: 464px;
	top: 0px;
}
#white {
	position:absolute;
	width:280px;
	height:338px;
	z-index:3;
	left: 717px;
	top: 0px;
}
#yellow {
	position:absolute;
	width:280px;
	height:332px;
	z-index:4;
	left: 969px;
	top: 0px;
}
#oolong {
	position:absolute;
	width:280px;
	height:335px;
	z-index:5;
	left: 1222px;
	top: 0px;
}
#credits {
	position:absolute;
	width:252px;
	height:185px;
	z-index:2;
	left: -41px;
	top: 256px;
}
</style>
</head>

<body>
<!--<img src="images/background.png" width="4800" height="3600" />-->
<div class="header">

  <div id="title">
  </div> <!--end title-->
    

    <div id="login"><%= link_to image_tag("/assets/logintab.png", :border=>0), users_path%></div> 
    <!--end login-->
        
  	<div id="signup"><%= link_to image_tag("/assets/signuptab.png", :border=>0), new_user_path%></div> 
    <!--end signup-->

</div><!--end class header"-->
<div class="container">

</div><!--end class container-->
<div id="main">
  <div id="teas">
    <div id="black"><a href="pages/black.html">
				<img src="images/black.png" alt="Black Teas"/></a></div>
    <div id="green"><a href="pages/green.html">
				<img src="images/green.png" alt="Green Teas"/></a></div>
    <div id="white"><a href="pages/white.html">
				<img src="images/white.png" alt="White Teas"/></a></div>
    <div id="yellow"><a href="pages/yellow.html">
				<img src="images/yellow.png" alt="Yellow Teas"/></a></div>
    <div id="oolong"><a href="pages/oolong.html">
				<img src="images/oolong.png" alt="Oolong Teas"/></a></div>
  </div>
  <div id="credits"></div>
</div>
</body>
</html>



<h1>Listing users</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th>Image</th>
    <th>Description</th>
    <th>Tea</th>
    <th>Teatype</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @users.each do |user| %>
  <tr>
    <td><%= user.name %></td>
    <td><%= user.email %></td>
    <td><%= user.image %></td>
    <td><%= user.description %></td>
    <td><%= user.tea %></td>
    <td><%= user.teaType %></td>
    <td><%= link_to 'Show', user %></td>
    <td><%= link_to 'Edit', edit_user_path(user) %></td>
    <td><%= link_to 'Destroy', user, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New User', new_user_path %>
