
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Steep - An App for All Things Tea</title>

<style type="text/css">


body {
    font-family: PTSansRegular;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    line-height: 1;
}

body {
	background-attachment: scroll;
	background-color: #FC9;
	background-image: url(<%= asset_path 'bg1920x1080.png' %>);
	background-repeat: no-repeat;
	background-position: fixed;
}

.header {
	width: 1920px;
	height: 360px;
	/*margin: 0 auto auto 0;*/
}


#login { 

    /*margin: 0px 1000px 200px 0px;*/
	/*width: 15%;*/
    /*height: 350px;*/
}

#signup {
	/*width: 15%;*/
    /*height: 350px;*/
}

.container {
    width: 1920px;
	height: auto;
} 

#username {
	background: url(<%= asset_path 'username.png' %>) no-repeat scroll 0 0;
}

#profilepic {
	background: url(<%= asset_path 'profilepic.png' %>) no-repeat scroll 0 0;
}

#teasliked {
	background: url(<%= asset_path 'teasliked3.png' %>) no-repeat scroll 0 0;
}

#typesliked {
	background: url(<%= asset_path 'typesliked.png' %>) no-repeat scroll 0 0;
}

#credits {
	background: url(<%= asset_path 'credits.png' %>) no-repeat scroll 0 0;
}	
#login {
	position:absolute;
	width:278px;
	height:217px;
	z-index:1;
	left: 1274px;
	top: -6px;
}
#signup {
	position:absolute;
	width:216px;
	height:244px;
	z-index:2;
	left: 1415px;
	top: -14px;
}
#main {
	position:absolute;
	width:1882px;
	height:425px;
	z-index:3;
	left: 16px;
	top: 366px;
}
#credits {
	position:absolute;
	width:252px;
	height:185px;
	z-index:2;
	left: -41px;
	top: 256px;
}
#username {
	position:absolute;
	width:400px;
	height:127px;
	z-index:4;
	left: 221px;
	top: 31px;
}
#actualname {
  position:absolute;
	width:400px;
	height:127px;
	z-index:5;
	left: 0px;
	top: 40px;
  text-align: center;
}
#profilepic {
	position:absolute;
	width:411px;
	height:417px;
	z-index:5;
	left: 211px;
	top: 166px;
}
#actualpic {
	position:absolute;
	width:411px;
	height:417px;
	z-index:6;
	left: 40px;
	top: 40px;
}
#description {
  background: url(<%= asset_path 'description.png' %>) no-repeat scroll 0 0;
  position:absolute;
	width:411px;
	height:417px;
	z-index:6;
	left: 211px;
	top: 575px;
}

#descriptionscroller {
 position:absolute;
	width:340px;
	height:150px;
	z-index:7;
	left:22px;
	top: 22px;
  overflow:auto;
}
#teasliked {
	position:absolute;
	width:511px;
	height:371px;
	z-index:6;
	left: 666px;
	top: 27px;
}

#teaslikedscroll {
  position:absolute;
  left:50px;
  top:80px;
  width:400px;
  height:240px;
  z-index:10;
  overflow:auto;

  
}
#comments{
  background: url(<%= asset_path 'comments.png' %>) no-repeat scroll 0 0;
  position:absolute;
	width:602px;
	height:355px;
	z-index:8;
	left: 664px;
	top: 422px;
}
#wall{
  position:absolute;
  width:400px;
  height:355px;
  z-index:9;
  left:700px;
  top:450px;
}
#actualwall{
  position:absolute;
  width:430px;
  height:270px;
  z-index:10;

  overflow:auto;
}
#wallposter{
  background: url(<%= asset_path 'commentbox.png' %>) no-repeat scroll 0 0;
  position:absolute;
  width:602px;
  height:250px;
  z-index:9;
  left:664px;
  top:800px;
  
}
#commentboxes {
    position:absolute;
    left:40px;
    top:20px;
}
textarea#post_area {
  width:400px;
  height:50px;
}

#recommend {
  background: url(<%= asset_path 'commentbox.png' %>) no-repeat scroll 0 0;
  position:absolute;
  width:602px;
  height:250px;
  z-index:9;
  left:164px;
  top:800px;
}

#recommendtext{
  position:absolute;
  width:502px;
  height:100px;
  z-index:9;
  top:50px; 
  text-align:center;
}
#editbutton {
  position:absolute;
  width:502px;
  height:250px;
  z-index:9;
  top:90px;
  left:235px;
}

#deletebutton {
  position:absolute;
  width:502px;
  height:250px;
  z-index:9;
  top:90px;
  left:270px;
}

#changeimage {
  position:absolute;
  width:502px;
  height:250px;
  z-index:9;
  top:90px;
  left:130px;
}

#home {
  position:absolute;
  top:20px;
  left:20px;
}

</style>
</head>

<body>
<div id="teasliked">
  <div id="teaslikedscroll">
<% @user.teas.uniq.each do |tea| %>
  <h3><%= tea.name %></h3>
<%end%>
</div>
  
  
</div>
<!--<img src="images/background.png" width="4800" height="3600" />-->
<div class="header">

    
  <% if signed_in? %>
  <div id="login"><%= link_to image_tag("/assets/logout.png", :border=>0), signout_path, method: "delete"%></div> 
    <!--end login-->
        
  <div id="signup"><%= link_to image_tag("/assets/profile.png", :border=>0), user_path(current_user)%></div> <!--end signup-->

  <%else%>
    <div id="login"><%= link_to image_tag("/assets/logintab.png", :border=>0), signin_path%></div> 

    <!--end login-->
        
    <div id="signup"><%= link_to image_tag("/assets/signuptab.png", :border=>0), new_user_path%></div>  <!--end signup-->
  <%end%>
</div><!--end class header-->
<div class="container">

</div><!--end class container-->
<%provide(:title, @user.name)%>
<div id="username">
  <div id="actualname">
    <h1><%= @user.name %></h1>
  </div>
   <% if signed_in? %>
  <% if @user == current_user%>
  <div id="editbutton">
  <%= link_to "Edit", edit_user_path(@user) %>
  </div>
  <div id ="deletebutton">
  <%= link_to 'Delete User', current_user, confirm: 'Are you sure?', method: :delete %></td>
  </div>
  <div id = "changeimage">
    <%= link_to "Change Image", href = "https://en.gravatar.com/site/login/%2Fsite%2Fsignup%2F" %>
    </div>
  <%end%>
  <%end%>
</div>

<div id="profilepic">
  <div id = "actualpic">
    <%= gravatar_for @user %>
 </div>
</div>

<div id="description">
  <div id="descriptionscroller">
  <%= @user.description %>
</div>
</div>

<div id="comments">

 </div>

<div id="wall">
  <h2>Wall</h2>
  <div id="actualwall">

<table>

<% @user.posts.each do |post| %>

    <h3><%= post.title %></h3>

    <div><%= post.post %></div>

    </br>
   
<% end %>
</table>
</div>
</div>
</div>

<% if signed_in? %>
  <div id="wallposter">
   <div id="commentboxes">
  
  <%= form_for(@post) do |f| %>
  <%= f.hidden_field :user_id%>
  <div id="posttitle">

    <div class="field">
      <%= f.label :title %>
      <%= f.text_field :title %>
    </div>
  </div>
  <div class="field">
    <%= f.label :post %>
    <%= f.text_area :post, :id => "post_area" %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
</div>
</div>
<%end%>

 <% if signed_in? %>
  <% if @user == current_user%>
<div id="recommend">
  <div id="recommendtext">
    <h1>Recommended for you!</h1>
  <p id="notice"><%= notice %></p>
<div id="recommendation">
<%if (@rand != nil)%>
  <h2><%= @rtea.name %> </h2>
  <%end%>
<%end%>

<%end%>
</div>
</div>
</div>

<div id="main">
  <div id="credits"></div>
</div>

  <div id="home">
    <%= link_to image_tag("/assets/hometab.png", :border=>0), root_path%>
  
  </div>
</body>
</html>
